div.alerts {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin: 0px 0;
  padding: 10px 0px;
  position: relative;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  box-shadow: 0 4px 5px #aaaaaa;
  width: 100%;
  text-align: center;
}

div.alerts div.arrow-up {
  position: absolute;
  right: 10px;
  top: 10px;
}

div.arrow-down {
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 1000;
  padding: 0px 5px;
  background-color: #ffffff;
  width: auto;
  border-radius: 0px 0px 6px 6px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}

div.arrow-up img,
div.arrow-down img {
  cursor: pointer;
}

div.alerts marquee,
div.alerts blink {
  margin: 0px 40px;
}

div.alerts ul {
  margin: 0px 0px;
  padding: 0px;
  list-style: none outside none;
}

div.alerts ul li {
  list-style: none outside none;
}
